.newsletter {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__input {
    width: auto;
    display: inline-block;
    margin-right: 1rem;
  }

  &__button {
    background: $color-dark;
    color: $color-secondary;

    &:hover {
      background: $color-highlight;
    }
  }
}

@media screen and (max-width: 480px) {
  .newsletter {
    &__wrapper {
      flex-direction: column;
    }

    &__input {
      margin-right: 0;
    }

    &__button {
      margin-top: 0.5rem;
    }
  }
}
