.products {
  &__wrapper {
    max-width: 500px;
    margin: 2rem auto;
  }

  &__product {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  &__image {
    width: 100px;
    margin-right: 1rem;
    border-radius: 0.4rem;
  }

  &__text {
    text-align: left;
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    font-style: italic;
    font-size: 0.8rem;
  }

  &__price {
    margin-left: auto;
    text-align: right;
    width: 140px;
  }
}
